<header>
    <div id="headerBlock">
        <a class="header" id="firstHeader">Main Page</a>
    </div>
    <br /> <br /> <br />


    <form id="registerForms" method="POST" style="display: none">
        <a>Username: </a> <br />
        <input type="text" name="username" id="registerUsername" />
        <br />

        E-mail: <br />
        <input type="text" name="email" id="registerEmail" />
        <br />

        Password: <br />
        <input type="text" name="password" id="registerPassword" />

        <br /> <br />
        <input type="button" onclick="register(this.form)" value="Create"/>
    </form>



    <form id="loginForms" method="POST" style="display: none">
        Email: <br />
        <input type="text" name="email" value="admin@admin.com">
        <br />

        Password: <br />
        <input type="text" name="password" value="admin">

        <br /> <br />
        <input type="button" name="button" value="login" onClick="login(this.form)">
    </form>


    <form name="questionForm" id="questionForms" style="display: none">
        <input type="button" id="createFormButton" value="Save Form" onClick="saveForm(this.form)">
    </form>

    <form id="emailAddingForm" style="display: none">
        <input type="button" value="Send Form" onClick="sendToUsers(this.form)">
    </form>

    
</header>
