<header>
    <div id="headerBlock">
        <a class="header" id="firstHeader"></a>
    </div>
    <br /> <br /> <br />

    <div id="welcomePage">
        <p>Hello there!</p>
        <br />
        <p>On this page you will find some forms that you could or need to fill for your Sender.</p>
        <br />
        <p>Make your first move and hit on the Register button.</p>
        <br />
        <p>Or if you are a registered old fellow hit hard on the Login button fellow!</p>
        <br /> <br />
        <p style="font-size: larger">Have a nice day!</p>
    </div>


    <form id="registerForms" method="POST" style="display: none">
        <a class="registerLoginText">Username: </a>
        <br />
        <input class="registerLoginField" type="text" name="username" id="registerUsername" />
        <br />

        <a class="registerLoginText">E-mail:</a>
        <br />
        <input class="registerLoginField" type="text" name="email" id="registerEmail" />
        <br />

        <a class="registerLoginText">Password:</a>
        <br />
        <input class="registerLoginField" type="text" name="password" id="registerPassword" />

        <br /> <br />
        <input class="registerLoginButton" type="button" onclick="register(this.form)" value="Create" />
    </form>



    <form id="loginForms" method="POST" style="display: none">
        <a class="registerLoginText">Email:</a>
        <br />
        <input class="registerLoginField" type="text" name="email">    @*admin@admin.com    1@1.com*@
        <br />

        <a class="registerLoginText">Password:</a>
        <br />
        <input class="registerLoginField" type="text" name="password">   @*admin    1*@

        <br /> <br />
        <input class="registerLoginButton" type="button" name="button" value="Login" onClick="login(this.form)">
    </form>


    <form name="questionForm" id="questionForms" style="display: none">
        <input type="button" id="createFormButton" value="Save Form" onClick="saveForm(this.form)">
    </form>

    <form id="emailAddingForm" style="display: none">
        <input type="button" id="SavingButton" value="Send Form" onClick="sendToUsers(this.form)">
    </form>

    <div id="afterSendingForms" style="display: none"></div>

    <table id="showFormsPage" style="display: none"></table>

    <div id="showDetailsOfTheFormPage"></div> 

    <div id="usersAnswers" style="display: none"></div>

    <table id="userPendingFormTable"></table>

    <form id="formFillingPage" style="display: none">
        <input id="SavingButton" type="button" value="Send Form" onClick="sendAnswers(this.form)">
    </form>


</header>
