#headerBlock{
    border: solid;
}

#firstHeader {
    padding-left: 20px;
}

.header{
    padding-right: 20px;
}

#createFormButton{
    width: 100%;
    background-color: tan;
}


.cell{
    border:solid;
}