#headerBlock{
    border: solid;
    color: brown;
    background: khaki;
}

#firstHeader {
    padding-left: 20px;
}

.header{
    padding-right: 20px;
}

#createFormButton{
    width: 100%;
    background-color: tan;
}

.headerCell{
    color: steelblue;
    font-size: x-large;
    border:solid;
    width: 45%;
}


.cell{
    border:solid;
    width: 45%;
}


.cell2{
    border:solid;
    width: 35%;
}


.emptyCell{
    border: none;
    width: 45%;
}

#SavingButton{
    width: 100%;
}

#welcomePage{
    padding-left: 40px;
    font-size: x-large;
    font-style: oblique;
    font-family: initial;
    color: brown;
}

body{
    background-color: beige;
}