#headerBlock{
    border: solid;
    color: brown;
    background: khaki;
}

#firstHeader {
    padding-left: 20px;
}

.header{
    padding-right: 20px;
}

#createFormButton{
    width: 100%;
    background-color: tan;
}

.headerCell{
    color: steelblue;
    font-size: x-large;
    border:solid;
    width: 45%;
}


.cell{
    border:solid;
    width: 45%;
}


.cell2{
    border:solid;
    width: 35%;
}


.emptyCell{
    border: none;
    width: 45%;
}

#SavingButton{
    width: 100%;
}

#welcomePage{
    padding-left: 40px;
    font-size: x-large;
    font-style: oblique;
    font-family: initial;
    color: brown;
}

body{
    background-color: beige;
}

.registerLoginField{
    margin-left: 30%;
    width: 40%;
    margin-block-end: 4%;
}

.registerLoginText{
    margin-left: 27%;
    font-size: x-large;
}

.registerLoginButton{
    margin-left: 39%;
    width: 20%;
}


.titleContent{
    padding-left: 30%;
}

.textContent{
    padding-left: 8%;
}

.tableText{
    padding-left: 5%;
    padding-top: 10%;
    padding-bottom: 4%;
}

.createFormButton{
    margin-left: 10%;
}